include README.md
include LICENSE
include pyproject.toml
recursive-include flexmerge *.py
recursive-include tests *.py
recursive-include examples *.py
exclude tests/__pycache__/*
exclude flexmerge/__pycache__/* 